@font-face {
    font-family: 'HakgyoansimDunggeunmisoTTF-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
*{
    font-family: 'HakgyoansimDunggeunmisoTTF-B';

}
body {
    font-family: 'HakgyoansimDunggeunmisoTTF-B';

    margin: 0;
    background-color: #f9f9f9; 
    color: #333; 
}

body {
    margin: 0;
    background-color: #f9f9f9; 
    color: #333; 
}
/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff; 
    color: #333;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    position: sticky;
    top: 0px;
    z-index: 900;
    border-bottom: 1px solid #ddd;
}
/* 로고 이미지 */
header .logo {
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 20px;
}
header .logo img {
    max-width: 100px;
    height: auto;
}
/* 메인 텍스트 */
header nav {
    display: flex;
    gap: 15px;
}
header nav a {
    color: #333; 
    text-decoration: none;
    font-size: 1em;
}

header nav a:hover {
    color: skyblue; 
}
/* 로그인/회원가입 */
.login {
    font-size: 1em;
    color: white;
    font-weight: bold;
}

.login a {
    color: skyblue;
    text-decoration: none;
    padding: 7px;
}
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
}